{% extends 'website/base.html' %}
{% load static %}

{% block content %}


<header id="header" class="header-section">
  <div class="container">
    <nav class="navbar">
      <a href="#" class="navbar-brand">
        <img class="logo-light" src="{% static 'website/img/light_2.png' %}" alt="JL">
        <img class="logo-dark" src="{% static 'website/img/dark_1.png' %}" alt="JL">
      </a>
      <div class="d-flex menu-wrap">
        <div id="navmenu" class="mainmenu">
          <ul class="nav">
            <li><a data-scroll class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a></li>
            {% for resume in resumes %}
            <li><a class="nav-link" href="{{ resume.resumefile.url }}" target="_blank">Resume</a></li>
            {% endfor %}
            <li><a data-scroll class="nav-link" href="#portfolio">Portfolio</a></li>
            <li><a data-scroll class="nav-link" href="#about">About</a></li>
            <li><a data-scroll class="nav-link" href="#services">Skills</a></li>
            <li><a data-scroll class="nav-link" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header> <!-- /.header-section -->



<!-- TODO Make header editable via admin instead of hardcoded. -->

<section id="home" class="hero-section d-flex align-items-center">
  <div id="particles-js"></div><!-- Particle -->
  <div class="container">
    <div class="hero-content text-center">
      <h1><span>JOSE</span> LOPEZ</h1>
      <h2>SOFTWARE DEVELOPER</h2>
      <ul>
        <li><span title="LinkedIn"><a href="https://www.linkedin.com/in/jjlopezbuilder/" target="_blank"><i class="fa fa-linkedin"></i></a></span></li>
        <li><span title="Email"><a data-scroll class="nav-link" href="mailto:jj.lopezbuilder@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></span></li>
        <li><span title="GitHub"><a href="https://github.com/BuilderTron" target="_blank"><i class="fa fa-github"></i></a></span></li>
      </ul>
      {% if name %}
      <br>
      <center>
        <h2> Thanks {{ name }}!</h2>
        <p>We received your email & will respond shortly...</p>
      </center>
      {% endif %}
    </div>
  </div>
</section><!-- /.hero-section -->



<!-- Portfolio Projects -->

<section id="portfolio" class="portfolio-section padding bd-bottom">
  <div class="container">

    <div class="section-heading text-center mb-40">
      <h2>Work Portfolio</h2>
    </div><!-- /.section-heading -->

    <div class="portfolio-items row">
      {% for project in projects %}
      <div class="col-lg-4 col-sm-6 padding-15 single-item branding wordpress">
        <div class="portfolio-box">
          <img src="{{ project.image.url }}">
          <div class="portfolio-content">
            <h3><a href="{{ project.url }}" style="color:white" target="_blank">{{ project.title }}</a></h3>
            <p>{{ project.description }}</p>
          </div>
          <a href="{{ project.git_url }}" data-gall="gallery" class="img-lightbox" target="_blank"><img src="static\website\img\GitHub-Mark-Light-32px.png" /></a>
        </div>
      </div>
      {% endfor %}
    </div><!-- /.portfolio-items -->
  </div>
</section><!-- /.portfolio-section -->


<!-- About Section -->


<section id="about" class="about-section bd-bottom padding bg-grey">
  <div class="container">
    <div class="about-wrap row">
      <div class="col-md-6 ">
        <div class="section-heading">
          <!-- <h4>About Me</h4> -->
          <h2>About <span> Jose</span></h2>
          <p>Jose Lopez is a Software Developer that can bring a diverse skill set and a creative drive to software and web development. He is proficient in adapting to new language technologies and frameworks to find unique solutions to development
            problems.
            <br>
            <br>
            Jose enjoys various types of photography and has a passion for travel.
          </p>
          {% for resume in resumes %}
          <a href="{{ resume.resumefile.url }}" class="default-btn" target="_blank">Resume</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="about-men d-none d-md-block"></div>
</section><!-- /.about-section -->


<!-- Skills Section -->

<section id="services" class="service-section padding bd-bottom">
  <div class="container">
    <div class="section-heading text-center mb-40">
      <h2>Skills</h2>
      <br>
    </div>
    <div class="service-wrap row">

      <!-- Technical Skills -->

      <div class="col-lg-4 col-sm-6 padding-15">
        <div class="service-item">
          <i class="icon_tools"></i>
          <div class="service-content">
            <h3>Technical</h3>
            <p>
              Git (Git Flow),
              <br>
              GitHub,
              <br>
              Chrome Developer Tools,
              <br>
              VirtualBox,
              <br>
              C.R.U.D.
            </p>
          </div>
        </div>
      </div>

      <!-- Front End -->

      <div class="col-lg-4 col-sm-6 padding-15">
        <div class="service-item">
          <i class="icon_laptop"></i>
          <div class="service-content">
            <h3>Front End</h3>
            <p>
              HTML5/CSS,
              <br>
              Javascript,
              <br>
              Bootstrap.
              <br>
            </p>
          </div>
        </div>
      </div>

      <!-- Back End -->

      <div class="col-lg-4 col-sm-6 padding-15">
        <div class="service-item">
          <i class="icon_cloud"></i>
          <div class="service-content">
            <h3>Back End</h3>
            <p>
              Python,
              <br>
              Django,
              <br>
              REST API,
              <br>
              Vagrant,
              <br>
              SQLite.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Contact Info -->

<section id="contact" class="contact-section padding bg-grey">
  <div class="container">
    <div class="contact-wrap">
      <div class="col-md-6 centered">
        <div class="section-heading text-center mb-40">
          <h2>Get in touch</h2>
          <br>
          <p> Have a question or need a quote? Fill out the contact form below and I'll get back to you as soon as possible. <br>Let's make something awesome. </p>
        </div>
        <!-- <div class="contact-info">
          <ul class="contact-list">
            <li><i class="fa fa-map-marker"></i>Katy, Tx 77493</li>
            <li><i class="fa fa-phone"></i><a href="tel:+12813800931">281 380 0931</a></li>
            <li><i class="fa fa-mail-reply"></i><a href="mailto:jj.lopezbuilder@gmail.com">JJ.LopezBuilder@Gmail.com</a></li>
          </ul>
        </div> -->
      </div>

      <div class="col-md-6 centered">

        <div class="contact-items">
          <form action="{% url 'home' %}" method="post" class="form-horizontal contact-form">
            {% csrf_token %}
            <div class="form-group colum-row row">
              <div class="col-sm-6">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
              </div>
              <div class="col-sm-6">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <textarea id="message" name="message" cols="30" rows="5" class="form-control message" placeholder="Message" required></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <button id="submit" class="default-btn" type="submit">Send Message</button>
              </div>
            </div>
            <div id="form-messages" class="alert" role="alert"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.contact-section -->



{% endblock %}
