{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--<link rel="stylesheet" href="{% static 'random_password_generator/css/main.css' %}">-->

<style>
.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 200%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="container text-center ">
  <div class="center">
    <h1>About Us</h1>
    <p>
      RPG (Random Password Generator) alleviates the burdens associated with password creation by generating passwords automatically. RPG is Jose Lopez's first web app released in 2020.
    </p>
    <a href="{% url 'rpg' %}" class="btn btn-warning">Home</a>
  </div>
</div>
